@font-face {
    font-family: "ralewayRegular";
    src: url(../../fonts/Raleway-Regular.ttf)
}

@font-face {
    font-family: "ralewayBlack";
    src: url(../../fonts/Raleway-Black.ttf)
}

h2,
h3,
h1 {
    font-family: "ralewayBlack";
}

* {
    box-sizing: border-box;
    font-family: "ralewayRegular";
}

body {
    padding: 16px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.modele {
    width: 100%;
    border-radius: 8px;
    position: relative;
}

.sign {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: rotate(-90deg);
    width: 35px;
    opacity: 0.4;
}

h1 {
    font-size: 5vw;
}


.config {
    padding: 16px;
}

/* Logo */
.logoPlaceHolder {
    width: 120px;
    height: 120px;
    background-color: #ebebeb;
    border-radius: 50%;
    border: 2px dashed #aaa;
}

.configLogo {
    width: 120px;
}

.configLogo.inactive {
    display: none;
}

.logoComp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.tac {
    text-align: center;
}

.form,
#caracteristiques_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formItem {
    border: 1px solid #dedede;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formItem .label {
    font-size: 12px;
}

.form input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 17px;
}

.config {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.b_primary {
    background-color: #103F91;
    padding: 16px 32px;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    gap: 16px;
}

.b_secondary {
    background-color: #fff;
    padding: 16px 32px;
    border-radius: 8px;
    color: rgb(22, 22, 22);
    border: 1px solid rgba(22, 22, 22, 0.499);
    display: flex;
    align-items: center;
    gap: 16px;
}

.Modele_1_wrapper,
.splash,
.config,
.flyerInfo {
    transition: 0.5s;
}

.hidden {
    height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
}

p {
    line-height: 24px;
}

.imageArea {
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 16px;
    border: 1px dashed #aaa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.indic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.imageArea {
    background-position: center;
    background-size: cover;
}

.donation {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    background-color: #e7e7e7;
    font-size: 12px;
}



.nameApp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: sticky;
    top: 16px;
    background-image: url(images/pattern.svg);
    border-radius: 8px;
    padding: 16px;
    background-size: 6px;
    z-index: 1;
    background-color: #fff;
    margin: 0px 16px;
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    z-index: 2;
    flex-direction: column;
    gap: 16px;
}


.CharteGraphique {
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 16px;
    position: sticky;
    top: 0px;
    background-color: #fff;
    padding: 16px;
    box-shadow: 1px 15px 10px #00000026;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.CharteGraphique input {
    opacity: 0;
    width: 0;
}

.colorPreview {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 8px;
    transition: 0.25s;
}

.colorPreview:hover {
    opacity: 0.7;
}

.colorPreview:active {
    transform: scale(1.2);
}

.row {
    display: flex;
}

.g16 {
    gap: 16px;
}

.aic {
    align-items: center;
}

.persoColor {
    font-size: 16px;
    color: black;
    margin-top: 8px;
    border-top: 1px solid #d3d3d3;
    padding-top: 9px;
}

.primary {
    background-color: #2b76ff;
}

.secondary {
    background-color: #d5a100;
}

textarea {
    border: none;
    outline: none;
    width: 100%;
    font-size: 17px;
}

.config_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e3e3e3;
}

.qr_code {
    padding: 6px;
    background-color: #ffffff;
}