<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CV Template</title>
    <link rel="stylesheet" href="cv_1.css" />
  </head>
  <body>
    <div id="cv_1">
      <div class="sideBar">
        <!-- Photo de profil -->
        <div class="cv_1_avatar_name">
          <img src="images/pharaon.png" alt="" id="cv_1_image" />
          <div class="cv1_nom_poste">
            <div id="cv1_nom">Tesse Brunel</div>
            <div id="cv1_poste">Designer Graphique</div>
          </div>
        </div>

        <!-- Contacts -->
        <div class="cv_1_contacts">
          <div class="cv1_contact_label bold">CONTACTS</div>
          <div class="cv1_contact_item">
            <img src="images/phone.png" alt="" width="10px" />
            <div>
              <div class="cv1_contact_item_label">Telephone</div>
              <div class="cv1_contact_item_value" id="cv_1_phone">
                +237 697 830 071
              </div>
            </div>
          </div>
          <div class="cv1_contact_item">
            <img src="images/email.png" alt="" width="10px" />
            <div>
              <div class="cv1_contact_item_label">Email</div>
              <div class="cv1_contact_item_value" id="cv1_email">
                bruneltesse@gmail.com
              </div>
            </div>
          </div>
          <div class="cv1_contact_item">
            <img src="images/adresse.png" alt="" width="10px" />
            <div>
              <div class="cv1_contact_item_label">Adresse</div>
              <div class="cv1_contact_item_value" id="cv1_addresse">
                Dschang Ngui
              </div>
            </div>
          </div>
        </div>

        <!-- Competences -->
        <div class="cv_1_competences" id="cv1_competences">
          <div class="cv1_contact_label bold">COMPETENCES</div>
          <div class="cv1_competence_item">
            <div class="title">
              <div class="name">Adobe Photoshop</div>
              <div class="f5">Traitement d'image</div>
            </div>
            <div class="progress">
              <div class="progress_state"></div>
            </div>
          </div>
          <div class="cv1_competence_item">
            <div class="title">
              <div class="name">Adobe Illustrator</div>
              <div class="f5">Dessin vectoriel</div>
            </div>
            <div class="progress">
              <div class="progress_state"></div>
            </div>
          </div>
          <div class="cv1_competence_item">
            <div class="title">
              <div class="name">Blender</div>
              <div class="f5">Modelisation 3D</div>
            </div>
            <div class="progress">
              <div class="progress_state"></div>
            </div>
          </div>
        </div>

        <!-- Langues -->
        <div class="cv1_langue" id="cv1_langue">
          <div class="cv1_contact_label bold">LANGUES</div>
          <div class="cv1_langue_item">
            <div class="langue_nom">Francais</div>
            <div class="progress">
              <div class="progress_state"></div>
            </div>
          </div>
          <div class="cv1_langue_item">
            <div class="langue_nom">Anglais</div>
            <div class="progress">
              <div class="progress_state"></div>
            </div>
          </div>
        </div>

        <!-- Loisirs -->
        <div class="cv1_loiris">
          <div class="cv1_contact_label bold">LOISIRS</div>
          <div class="loisirItem" id="cv1_loisirs">Sport | Musique | Danse</div>
        </div>
      </div>
      <div class="cv1_body">
        <img src="images/quote.png" width="25px" alt="" class="cv1_quote" />
        <!-- Presentation -->
        <div class="cv1_desc" id="cv1_presentation">
          Passionne des nouvelles technologie avec plus de 8 ans d'experience
          dans le domaine du design graphique.
        </div>

        <!-- Education -->
        <div class="cv1_education" id="cv1_education">
          <div class="f10 bold">EDUCATION</div>
          <div class="cv1_edu_item">
            <div class="f8">Baccalaureat C</div>
            <div class="f5">2018 • Lycee bilingue de Dschang</div>
          </div>
          <div class="cv1_edu_item">
            <div class="f8">Igenieure en Genie informatique</div>
            <div class="f5">
              2018 • Ecole superieur internationale de genie numerique de
              Sangmelima
            </div>
          </div>
        </div>

        <!-- qualites -->
        <div>
          <div class="cv1_contact_label bold" style="margin-bottom: 4px;">QUALITES</div>
          <div class="loisirItem" id="cv1_qualites">
            Sport | Musique | Danse
          </div>
        </div>

        <!-- Experience professionels -->
        <div class="cv1_experience" id="cv1_experience">
          <div class="f10 bold">EXPERIENCES</div>
          <div id="cv1_exp_container">
            <div class="cv1_item">
              <div class="cv1_header">
                <div class="dates">
                  <div class="f5">Jan 2022</div>
                  <div class="f5">Jan 2023</div>
                </div>
                <div class="cv1_company_poste">
                  <div class="f10">Designer Graphique</div>
                  <div class="f8 grey cv1_company">Simo Lab</div>
                </div>
              </div>
              <div class="f10 grey">
                Design des visuels de communication pour les promotions des
                produits de beaute
              </div>
            </div>
            <div class="cv1_item">
              <div class="cv1_header">
                <div class="dates">
                  <div class="f5">Jan 2022</div>
                  <div class="f5">Jan 2023</div>
                </div>
                <div class="cv1_company_poste">
                  <div class="f10">Designer Graphique</div>
                  <div class="f8 grey cv1_company">Simo Lab</div>
                </div>
              </div>
              <div class="f10">
                Design des visuels de communication pour les promotions des
                produits de beaute
              </div>
            </div>
            <div class="cv1_item">
              <div class="cv1_header">
                <div class="dates">
                  <div class="f5">Jan 2022</div>
                  <div class="f5">Jan 2023</div>
                </div>
                <div class="cv1_company_poste">
                  <div class="f10">Designer Graphique</div>
                  <div class="f8 grey cv1_company">Simo Lab</div>
                </div>
              </div>
              <div class="f10">
                Design des visuels de communication pour les promotions des
                produits de beaute
              </div>
            </div>
            <div class="cv1_item">
              <div class="cv1_header">
                <div class="dates">
                  <div class="f5">Jan 2022</div>
                  <div class="f5">Jan 2023</div>
                </div>
                <div class="cv1_company_poste">
                  <div class="f10">Designer Graphique</div>
                  <div class="f8 grey cv1_company">Simo Lab</div>
                </div>
              </div>
              <div class="f10">
                Design des visuels de communication pour les promotions des
                produits de beaute
              </div>
            </div>
            <div class="cv1_item">
              <div class="cv1_header">
                <div class="dates">
                  <div class="f5">Jan 2022</div>
                  <div class="f5">Jan 2023</div>
                </div>
                <div class="cv1_company_poste">
                  <div class="f10">Designer Graphique</div>
                  <div class="f8 grey cv1_company">Simo Lab</div>
                </div>
              </div>
              <div class="f10">
                Design des visuels de communication pour les promotions des
                produits de beaute
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
