@media screen and (max-width:1200px) {
    .addFournisseur {
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100vw;
    }

    .addFournisseur.inactive {
        pointer-events: none;
        transform: translateX(-50px);
        opacity: 0;
    }

    #closeAddFournisseur,#addButtonMobile {
        display: block;
    }
}