@font-face {
    font-family: "ralewayRegular";
    src: url(assets/fonts/Raleway-Regular.ttf)
}

@font-face {
    font-family: "ralewayBlack";
    src: url(assets/fonts/Raleway-Black.ttf)
}

@font-face {
    font-family: "ralewayBold";
    src: url(assets/fonts/Raleway-Bold.ttf)
}

h1 {
    font-family: "ralewayBlack";
}

h2 {
    font-family: "ralewayBold";
}

* {
    box-sizing: border-box;
    font-family: "ralewayRegular";
}

.f1 {
    flex: 1;
}

body {
    margin: 0;
    padding: 16px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-image: url(assets/images/pattern.svg);
    background-size: 2vw;
}

input,
textarea {
    font-size: 16px;
    border: none;
    outline: none;
    width: 100%;
}

.tac {
    text-align: center;
}

hr {
    width: 100%;
    opacity: 0.2;
}

#renderer {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    /* overflow-x: hidden; */
    position: relative;
}

.conteneur {
    overflow-x: hidden;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

button {
    padding: 16px;
    width: 100%;
    text-align: left;
}

#project_renderer {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.b1 {
    border: 1px solid #aaa;
}

.p16 {
    padding: 16px;
}

.row {
    display: flex;
}

.aic {
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.g4 {
    gap: 2vw;
}

.g8 {
    gap: 4vw;
}

.float_close {
    padding: 4vw;
    background-color: #000000 !important;
    color: white;
    text-align: center;
    border-radius: 8px;
}

.artboard_options {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.artboard_options .item {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hidden {
    display: none !important;
}

.edit input {
    width: 100%;
}

.edit {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    max-height: 30vh;
    overflow: auto;
    padding: 16px;
    overflow-x: hidden;
    z-index: 3;
    box-shadow: -1px -3px 12px #0000002e;
    padding-top: 6vw;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.g16 {
    gap: 16px;
}

.secondary {
    padding: 4vw;
    font-size: 3.5vw;
    text-align: left;
    border-radius: 2vw;
    display: flex;
    gap: 2vw;
    flex: 1;
    background-color: #f6f6f6;
}

.br8 {
    border-radius: 8px;
}

.conteneur {
    background-size: cover;
    background-position: center;
}

.small {
    opacity: 0.7;
    font-size: 2.5vw;
    margin-bottom: 2vw;
}

.options_btn {
    position: fixed;
    bottom: 4vw;
    right: 4vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.options_btn img {
    width: 10vw;
}

.project_item {
    display: flex;
    align-items: center;
    gap: 4vw;
    font-size: 3vw;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    padding: 3vw;
}

.project_item img {
    width: 3vw;
}

h2 {
    font-size: 4.5vw;
    margin: 0;
}

#options_btn_explainer {
    position: fixed;
    background-color: #00661f77;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 4vw;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    transform-origin: bottom right;
    transition: 0.5s;
    opacity: 1;
}

#options_btn_explainer.inactive {
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
}

.explain_item {
    display: flex;
    align-items: center;
    gap: 5vw;
    padding: 4vw;
    background-color: #fff;
    border-radius: 2vw;
    width: 100%;
}

.explain_item img {
    width: 11vw;
}

.info {
    width: 8vw;
}