@font-face {
    font-family: "ralewayRegular";
    src: url(assets/fonts/Raleway-Regular.ttf)
}

@font-face {
    font-family: "ralewayBlack";
    src: url(assets/fonts/Raleway-Black.ttf)
}
 
@font-face {
    font-family: "ralewayBold";
    src: url(assets/fonts/Raleway-Bold.ttf)
}

h1 {
    font-family: "ralewayBlack";
}

h2{
    font-family: "ralewayBold";
}

* {
    box-sizing: border-box;
    font-family: "ralewayRegular";
}

body{
    margin:0;
    padding: 16px;
    background-color: #dbdbdb;
    display: flex;
    flex-direction: column;
    gap:8px;
}

input,textarea{
    font-size: 16px;
    border: none;
    outline: none;
}

hr{
    width: 100%;
}

#renderer{
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #fff;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    background-size: cover;
    background-position: center;
}

.logo{
    display: flex;
    align-items: center;
    gap:16px;
    justify-content: center;
}

.options{
    display: flex;
    flex-direction: column;
    gap:2px;
}
button{
    padding: 16px;
    width: 100%;
    text-align: left;
}

.b1{
    border:1px solid #aaa;
}

.p16{
    padding:16px;
}

.row{
    display: flex;
}

.aic{
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
}

.g4{
    gap:4px;
}

.g8{
    gap:8px;
}

.artboard_options{
    display: flex;
    flex-direction: column;
    gap:16px;
    padding:16px;
    border:1px solid #aaa;
}

.artboard_options .item{
    display: flex;
    flex-direction: column;
    gap:4px;
}

.hidden{
    display: none !important;
}

.edit input{
    width: 100%;
}

.edit {
    display: flex;
    flex-direction: column;
    gap:4px;
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    max-height: 80vh;
    overflow: auto;
}

.secondary{
    padding:16px;
    text-align: left;
    border:1px solid #000;
}

.conteneur{
    background-size: cover;
    background-position: center;
}