@font-face {
    font-family: "ralewayRegular";
    src: url(assets/fonts/Raleway-Regular.ttf)
}

@font-face {
    font-family: "ralewayBlack";
    src: url(assets/fonts/Raleway-Black.ttf)
}

@font-face {
    font-family: "ralewayBold";
    src: url(assets/fonts/Raleway-Bold.ttf)
}

/* Load Clemente font  */
@font-face {
    font-family: "Clemente-regular";
    src: url(assets/fonts/clemente/ClementePDai-Regular.ttf)
}
@font-face {
    font-family: "Clemente-bold";
    src: url(assets/fonts/clemente/ClementePDam-Bold.ttf)
}
@font-face {
    font-family: "Clemente-ultra-bold";
    src: url(assets/fonts/clemente/ClementePDaq-UltraBold.ttf)
}

/* Load comforta font */
@font-face {
    font-family: "comforta-regular";
    src: url(assets/fonts/comforta/Comfortaa-Regular.ttf)
}
@font-face {
    font-family: "comforta-bold";
    src: url(assets/fonts/comforta/Comfortaa-Bold.ttf)
}

/* Load google sans */
@font-face {
    font-family: "google-sans-regular";
    src: url(assets/fonts/google_sans/GoogleSans-Regular.ttf)
}
@font-face {
    font-family: "google-sans-bold";
    src: url(assets/fonts/google_sans/GoogleSans-Bold.ttf)
}

/* Load open sans font */
@font-face {
    font-family: "open-sans-regular";
    src: url(assets/fonts/open_sans/OpenSans-Regular.ttf)
}
@font-face {
    font-family: "open-sans-bold";
    src: url(assets/fonts/open_sans/OpenSans-Bold.ttf)
}
@font-face {
    font-family: "open-sans-extra-bold";
    src: url(assets/fonts/open_sans/OpenSans-ExtraBold.ttf)
}

/* Load poppins fonts */
@font-face {
    font-family: "poppins-regular";
    src: url(assets/fonts/poppins/Poppins-Regular.otf)
}
@font-face {
    font-family: "poppins-bold";
    src: url(assets/fonts/poppins/Poppins-Bold.otf)
}
@font-face {
    font-family: "poppins-black";
    src: url(assets/fonts/poppins/Poppins-Black.otf)
}
/* Load Schwab font */
@font-face {
    font-family: "schwab";
    src: url(assets/fonts/schwab/Schwaben.ttf)
}

/* Load Vignette font */
@font-face {
    font-family: "vignette";
    src: url(assets/fonts/vignette/Vignette.ttf)
}
/* Load general font */
@font-face {
    font-family: "advert";
    src: url(assets/fonts/advert.ttf)
}
@font-face {
    font-family: "barbarian";
    src: url(assets/fonts/Barbarian.ttf)
}
@font-face {
    font-family: "butterCup";
    src: url(assets/fonts/butterCup.ttf)
}
@font-face {
    font-family: "lovely";
    src: url(assets/fonts/lovely.ttf)
}
@font-face {
    font-family: "filxgirl";
    src: url(assets/fonts/Filxgirl.TTF)
}
@font-face {
    font-family: "hello";
    src: url(assets/fonts/hello.ttf)
}
@font-face {
    font-family: "krinkes";
    src: url(assets/fonts/krinkes.ttf)
}
@font-face {
    font-family: "lazy";
    src: url(assets/fonts/lazy.otf)
}
@font-face {
    font-family: "lova";
    src: url(assets/fonts/lova.otf)
}
@font-face { 
    font-family: "love";
    src: url(assets/fonts/love.ttf)
}
@font-face {
    font-family: "manbow";
    src: url(assets/fonts/manbow-spots.ttf)
}
@font-face {
    font-family: "smith";
    src: url(assets/fonts/smith.otf)
}
@font-face {
    font-family: "weather";
    src: url(assets/fonts/weather.otf)
}

.policeItem{
    padding:2vw;
    border:1px solid #e3e3e3;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap:1vw;
}
 
.police_list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:2vw;
}

.icons_list{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap:2vw;
}

.iconItem{
    border-radius: 6px;
    border:1px solid #e5e5e5;
    padding:6px;
    width: 95%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconItem img{
    width: 60%;
}

.police_name{
    color:grey;
    font-size: 3vw;
}
.police_preview_text{
    font-size: 4vw;
}

h1 {
    font-family: "ralewayBlack";
}

h2 {
    font-family: "ralewayBold";
}

* {
    box-sizing: border-box;
    /* font-family: "ralewayRegular"; */
}



.f1 {
    flex: 1;
}

body {
    margin: 0;
    padding: 16px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-image: url(assets/images/pattern.svg);
    background-size: 2vw;
    font-family: "ralewayRegular";
}

input,
textarea {
    font-size: 16px;
    border: none;
    outline: none;
    font-family: "ralewayRegular";
    width: 100%;
}

.tac {
    text-align: center;
}

hr {
    width: 100%;
    opacity: 0.2;
}

#renderer {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    background-size: cover !important;
    background-position: center !important;
    overflow: hidden !important;
    position: relative;
}

.conteneur {
    overflow-x: hidden;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

button {
    padding: 16px;
    width: 100%;
    text-align: left;
}

#project_renderer {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.b1 {
    border: 1px solid #aaaaaa75;
}

.p16 {
    padding: 16px;
}

.row {
    display: flex;
}

.aic {
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.g4 {
    gap: 2vw;
}

.g8 {
    gap: 4vw;
}

.float_close {
    padding: 4vw;
    background-color: #000000 !important;
    color: white;
    text-align: center;
    border-radius: 8px;
    margin-top: 2vw;
    transition:0.25s;
    cursor: pointer;
}

.float_close:hover{
    opacity: 0.8;
}


.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    z-index: 20000;
    flex-direction: column;
    gap:16px;
    transition: 0.5s;
}

#renderer *{
    cursor: pointer;
}

.artboard_options {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.artboard_options .item {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(50vh) scale(0.7);
}

.edit input {
    width: 100%;
}

.edit {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    max-height: 50vh;
    overflow: auto;
    padding: 16px;
    overflow-x: hidden;
    z-index: 3;
    box-shadow: -1px -3px 12px #0000002e;
    padding-top: 6vw;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transition: 0.25s;
}

.g16 {
    gap: 16px;
}

.config_item {
    border: 1px solid #aaaaaa75;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    font-size: 3.5vw;
}

.secondary {
    padding: 3vw 4vw;
    font-size: 3.8vw;
    text-align: left;
    border-radius: 2vw;
    display: flex;
    gap: 2vw;
    flex: 1;
    border: 1px solid #d6d6d6;
    align-items: center;
    cursor: pointer;
    transition:0.25s;
}

.options_btn img{
    cursor: pointer;
    transition:0.25s;
}

.options_btn img:hover{
    transform:scale(1.1);
    opacity: 0.8;
}

.secondary:hover{
    opacity: 0.9;
}

.secondary img {
    width: 8vw;
}

.br8 {
    border-radius: 8px;
}

.conteneur {
    background-size: cover !important;
    background-position: center !important;
}

.small {
    opacity: 0.7;
    font-size: 2.5vw;
    margin-bottom: 2vw;
}

.options_btn {
    position: fixed;
    bottom: 4vw;
    right: 4vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.options_btn img {
    width: 10vw;
}

.project_item {
    display: flex;
    align-items: center;
    gap: 4vw;
    font-size: 3vw;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    padding: 3vw;
}

.project_item img {
    width: 3vw;
}

h2 {
    font-size: 4.5vw;
    margin: 0;
}

#options_btn_explainer {
    position: fixed;
    background-color: #013812b8;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 4vw;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    transform-origin: bottom right;
    transition: 0.5s;
    opacity: 1;
    z-index: 4;
}

#options_btn_explainer.inactive {
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
}

.explain_item {
    display: flex;
    align-items: center;
    gap: 5vw;
    padding: 3vw;
    background-color: #fff;
    border-radius: 2vw;
    width: 100%;
}

.explain_item img {
    width: 8vw;
}

.info {
    width: 8vw;
}

#chart_renderer,#shape_renderer{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top:-100vh;
    left: 0;
    z-index: -1;
}

.base {
    font-size: 3.5vw;
}

.katex-html {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.signature {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
    justify-content: center;
}

.signature .name_company {
    font-size: 2vw;
    color: white;
}

.indication_label {
    font-size: 4vw;
    color: white;
}

.signature img {
    width: 4vw;
}

.close {
    background-color: #000000;
    padding: 4vw;
    text-align: center;
    width: 100%;
    color: white;
    border-radius: 8px;
    margin-bottom: 8vw;
}

.logo img {
    width: 5vw;
}

.logo h3 {
    font-size: 4vw;
}

.bg_grey {
    background-color: #f7f7f7;
}

.donation {
    display: flex;
    gap: 3vw;
    align-items: center;
    padding: 3vw;
    border-radius: 8px;
    background-color: #e7e7e7;
    font-size: 2.7vw;
}

.donation img {
    width: 5vw;
}

.graph_table td {
    font-size: 3vw;
    padding: 3vw;
    border: 1px solid #dfdfdf;
}

.menu_services{
    position: absolute;
    top:4vw;
    left:4vw;
    width: 8vw;
}


#services_supplementaire img{
    width: 5vw;
}




