@font-face {
    font-family: "ralewayRegular";
    src: url(../../assets/fonts/Raleway-Regular.ttf)
}

@font-face {
    font-family: "ralewayBold";
    src: url(../../assets/fonts/Raleway-Bold.ttf)
}

@font-face {
    font-family: "ralewayBlack";
    src: url(../../assets/fonts/Raleway-Black.ttf)
}


h2,
h3,
h1 {
    font-family: "ralewayBlack";
}

.bold {
    font-family: "ralewayBold";
}

* {
    font-family: "ralewayRegular";
    box-sizing: border-box;
}

#m1 {
    display: flex;
    flex-direction: column;
    position: relative;
}

#m1_logo {
    width: 8vw;
}

#m1_nom_restaurant {
    color: white;
    font-size: 4vw;
}

h1 {
    margin: 0;
}

#m1_texte_accrocheur {
    font-size: 6vw;
    color: white;
    padding-right: 2vw;
}

#m1_content {
    padding: 7vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 50vw;
    padding-right: 20vw;
    position: relative;
    overflow: hidden;
    background-image: url(images/pharaon.png);
    background-size: cover;
    background-position: center;
}

#m1_overlay {
    background-color: rgb(83 22 0 / 91%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.m1_images {
    position: absolute;
    top: -1vw;
    right: -6vw;
    width: 30vw;
    background-color: #fff;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    transform: rotate(5deg);
}

.m1_imageItem {
    background-position: center;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: rgb(219, 219, 219);
}

.m1_content_container {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    position: relative;
    z-index: 3;
}

#m1_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    padding: 4vw;
}

.footer_item {
    display: flex;
    align-items: center;
    gap: 2vw;
    flex: 1;
}

#logo_name{
    display: flex;
    align-items: center;
    gap:2vw;
}

#m1_phone,
#m1_localisation {
    font-size: 2vw;
}

.footer_item img {
    width: 3vw;
}

#m1_date {
    text-align: center;
    font-size: 1.6vw;
    padding: 8px;
    background-color: #f3f3f3;
}

.day_name {
    color: white;
    font-family: "ralewayBold";
    font-size: 4vw;
}

.menu_item {
    margin-bottom: 4vw;
}

td {
    color: white;
    opacity: 0.7;
    font-size: 3vw;
}

table {
    width: 75%;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    border-bottom: 1px solid #ffffff7a;
    padding: 1.5vw;
    padding-left: 0px;
}

tr td:last-child {
    text-align: right;
    font-family: "ralewayBold";
    opacity: 1;
}

.sign_afro{
    width: 8vw;
    position: absolute;
    right: 0vw;
    bottom: 27vw;
    transform: rotate(-90deg);
    opacity: 0.4;
}