@font-face {
  font-family: "ralewayRegular";
  src: url(../../fonts/Raleway-Regular.ttf)
}

@font-face {
  font-family: "ralewayBlack";
  src: url(../../fonts/Raleway-Black.ttf)
}

@font-face {
  font-family: "ralewayBold";
  src: url(../../fonts/Raleway-Bold.ttf)
}

h2,
h3,
h1 {
  font-family: "ralewayBlack";
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  padding: 16px 64px;
  border-bottom: 1px solid #bababa;
  position: sticky;
  top: 0px;
}

* {
  box-sizing: border-box;
  font-family: "ralewayRegular";
}

.clientsListCommande {
  display: flex;
}


.add_client {
  display: flex;
  align-items: center;
  display: flex;
  gap: 8px;
  padding: 16px;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.5s;
}

.add_client:hover {
  opacity: 0.5;
}

.clientList {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border-right: 1px solid #1cb060;
  height: 90vh;
  overflow: auto;
}

#clientsRenderer{
  display: flex;
  flex-direction: column;
  gap:8px;
}



.clientItem.active {
  background-color: #1CB060;
  color:white;
  border-radius: 8px;
  padding: 8px;
}

.clientItem.active div:last-child{
  color:rgba(255, 255, 255, 0.666);
}

.logo{
  position: fixed;
  width: 45px;
  top:25px;
  right:32px;
}

.clientItem {
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap:4px;
}
a{
  text-decoration: none;
  color:#444;
}

.empty {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding: 32px;
}

.clientItem div:last-child {
  font-size: 12px;
  color: grey;
}

.clientItem:not(.active):hover {
  background-color: #e9e9e9;
  border-radius: 8px;
  padding: 8px;
}

.commandes {
  flex: 1;
  padding:16px;
  display: flex;
  flex-direction: column;
  gap:4px;
  max-width: 800px;
  margin: 0;
  height: 90vh;
  overflow: auto;
}

#commandesView{
  display: flex;
  flex-direction: column;
  gap:4px;
}

.commandeItem{
  border:1px solid #e8e8e8;
  padding:16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap:4px;
  position:relative;
}

.commandeItem img{
  position: absolute;
  top:16px;
  right:16px;
  width: 40px;
  cursor: pointer;
  transition:0.5s;
}

.commandeItem img:hover{
  opacity: 0.8;
  transform: scale(0.95);
}

.commandeItem div:nth-child(1){
  color:grey;
  font-size: 12px;
}

.commandeItem div:nth-child(2){
  color:#1CB060;
}
.commandeItem div:nth-child(3){
  font-family: ralewayBold;
}