@font-face{
    font-family: "ralewayRegular";
    src :url(../../fonts/Raleway-Regular.ttf)
}

@font-face{
    font-family: "ralewayBlack";
    src :url(../../fonts/Raleway-Black.ttf)
}

h2,h3,h1{
    font-family: "ralewayBlack";
}

*{
    box-sizing: border-box;
    font-family: "ralewayRegular";
}

.header{
    padding: 16px;
    border-bottom: 1px solid #aaa;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

body{
    margin: 0;
    padding:0;
}

.body{
    padding:32px;
}

.productItem{
    display: flex;
    flex-direction: column;
    gap:12px;
    padding:16px;
    border:1px solid #e7e7e7;
    border-radius: 8px;
}

.productItem .productName{
    display: flex;
    gap:8px;
    align-items: center;
}

.productItem .productName .selector{
    width: 25px;
    height: 25px;
    border-radius: 8px;
    background-color: #e6e6e6;
    transition: 0.25s;
}

.selector.active{
    background-image: url(../../images/check.png);
    background-size: cover;
}

.productsList{
    display: flex;
    flex-direction: column;
    gap:8px;
    margin-top:16px;
}

.quantity{
    display: flex;
    gap:8px; 
}

.fadeIn{
    animation: come 1s ease 1;
}

.inactive{
   display: none;
}

@keyframes come {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.inactive{
    opacity: 0;
 }

.quantity *{
    flex :1;
}

.quantity  button{
    padding:16px;
    font-size:24px;
    background-color: #f0f0f0;
    border-radius: 8px;
    border:none;
}

.qteValue{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#00AB62;
    font-family: "ralewayBlack";
}

.productName div:last-child{
    flex:1;
}


.nextBTN{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding:16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, #97CB58, #00AB62);
    color:white;
    gap:16px;
}

.searchBox{
    display: flex;
    gap:8px;
    padding:16px;
    border:1px solid #e3e3e3;
    border-radius: 8px;
    margin-top:8px;
}

.searchBox input{
    flex:1;
    border:none;
    outline: none;
}

body{
    max-width: 600px;
    margin-left: auto;
    margin-right:auto;
}