/* Primary */

.primary_btn{
    padding:16px 32px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s;
    background-image: linear-gradient(45deg, #97CB58, #00AB62);
    border: none;
    outline: none;
    color: white;
    box-shadow:0px 2px 9px #63c0316e;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:16px;
}

.primary_btn:hover{
    background-image: linear-gradient(45deg, #97CB58, #00AB62);
    box-shadow: 0px 6px 45px #63c031bd;
}

.primary_btn:active{
    transform: scale(1.1);
}

.green{
    color:#00AB62;
}

/* Secondary */

.secondary_btn{
    padding:16px 32px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s;
    background-color: #262626;
    border: none;
    outline: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:16px;
}

.secondary_btn:hover{
    background-color: #373737;
}

.secondary_btn:active{
    transform: scale(1.1);
}

/* Tertiary button */
.tertiaryBtn{
    padding:8px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s;
    background-color: #f8f8f8;
    border: none;
    outline: none;
    color: rgb(45, 45, 45);
    display: flex;
    align-items: center;
    gap:16px;
    transition: 0.25s;
    flex-shrink: 0;
}

.tertiaryBtn:hover{
    background-color: #000;
    color: white;
}

.tertiaryBtn:active{
    transform: scale(1.1);
}


.tertiaryBtn2{
    padding:16px 32px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s;
    background-color: #f8f8f8;
    border: none;
    outline: none;
    color: rgb(45, 45, 45);
    display: flex;
    align-items: center;
    gap:16px;
    transition: 0.25s;
    text-align: left;
}

.tertiaryBtn2:hover{
    background-color: #d4d4d463;
}

.tertiaryBtn2:active{
    transform: scale(1.1);
}

.row{
    display: flex;
}

.aic{
    align-items: center;
}

#exportProducts h3{
    padding-left: 16px;
}